<% content_for(:title, "Edit #{@role_category.name}") %>

<section class="role-categories-page">
  <div class="role-categories-page__header">
    <h1>Edit <%= @role_category.name %></h1>
  </div>

  <%= render "form", role_category: @role_category %>
</section>
