<% content_for(:title, "New Role Category") %>

<section class="role-categories-page">
  <div class="role-categories-page__header">
    <h1>New Role Category</h1>
  </div>

  <%= render "form", role_category: @role_category %>
</section>
