<% content_for(:title, "Edit Task") %>

<section class="form-card form-card--wide">
  <h1>Edit Task</h1>
  <p class="form-card__subtitle">Update details for "<%= @task.title %>".</p>
  <%= render "form", task: @task %>
</section>
