<% content_for(:title, "Tasks") %>

<section class="tasks-page" data-controller="modal">
  <div class="tasks-page__header">
    <h1>Tasks</h1>
    <%= link_to "New Task", new_task_path,
          class: "btn btn--primary btn--sm",
          data: { turbo_frame: "task_form_modal", action: "click->modal#open" } %>
  </div>

  <% if @tasks.any? %>
    <div class="task-list">
      <% @tasks.each do |task| %>
        <%= render partial: "tasks/task", locals: { task: task } %>
      <% end %>
    </div>
  <% else %>
    <div class="tasks-page__empty">
      <p>No tasks yet. Create your first task to get started.</p>
      <%= link_to "Create a task", new_task_path,
            class: "btn btn--primary",
            data: { turbo_frame: "task_form_modal", action: "click->modal#open" } %>
    </div>
  <% end %>

  <%= render "tasks/form_modal", title: "New task" %>
</section>
