<% content_for(:title, "Org Chart") %>

<section class="org-chart-page">
  <div class="org-chart-page__header">
    <h1>Org Chart</h1>
    <%= link_to "New Role", new_role_path, class: "btn btn--primary btn--sm" %>
    <%= link_to "All Roles", roles_path, class: "btn btn--ghost btn--sm" %>
  </div>

  <% if @roles.any? %>
    <div class="org-chart-container"
         data-controller="org-chart"
         data-org-chart-roles-value="<%= roles_tree_data(@root_roles, @roles_by_parent_id).to_json %>">
      <svg class="org-chart-svg" data-org-chart-target="svg">
      </svg>
    </div>
  <% else %>
    <div class="org-chart-page__empty">
      <p>No roles yet. Create your first role to start building your org chart.</p>
      <%= link_to "Create a role", new_role_path, class: "btn btn--primary" %>
    </div>
  <% end %>
</section>
