<div class="progress-bar <%= "progress-bar--lg" if local_assigns[:large] %> <%= progress_bar_class(percentage) %>">
  <div class="progress-bar__fill" style="--progress: <%= percentage %>%"></div>
</div>
