<% content_for(:title, "Edit Hook - #{@role.title}") %>

<section class="hooks-page">
  <div class="hooks-page__header">
    <h1>Edit Hook</h1>
    <p class="hooks-page__subtitle"><%= link_to @role.title, @role %> &rsaquo; <%= link_to "Hooks", role_role_hooks_path(@role) %> &rsaquo; Edit</p>
  </div>

  <%= render "form", role_hook: @role_hook %>
</section>
