<% content_for(:title, "Edit #{@document.title}") %>

<section class="form-card glass form-card--wide">
  <h1>Edit Document</h1>
  <p class="form-card__subtitle">Update "<%= @document.title %>".</p>
  <%= render "form", document: @document %>
</section>
