<% content_for(:title, "Goals") %>

<section class="goals-page">
  <div class="goals-page__header">
    <h1>Goals</h1>
    <%= link_to "New Mission", new_goal_path, class: "btn btn--primary btn--sm" %>
  </div>

  <% if @goals.any? %>
    <div class="goal-tree">
      <% @goals.each do |goal| %>
        <%= render partial: "goals/goal_tree_node", locals: { goal: goal, depth: 0 } %>
      <% end %>
    </div>
  <% else %>
    <div class="goals-page__empty">
      <p>No goals yet. Start by defining your company mission.</p>
      <%= link_to "Create mission", new_goal_path, class: "btn btn--primary" %>
    </div>
  <% end %>
</section>
