<% content_for(:title, @goal.parent_id? ? "New Objective" : "New Mission") %>

<section class="form-page">
  <h1><%= @goal.parent_id? ? "New Objective" : "New Mission" %></h1>
  <%= render "form", goal: @goal %>
</section>
